.root{  
    -fx-background: #4682b4; 
}  

.button {
    -fx-font-weight: bold; 
	-fx-text-fill: darkslategrey; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton {
	-fx-font-weight: bold; 
	-fx-text-fill: red; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
	-fx-text-fill: white; 
	-fx-font-weight: bold; 
	-fx-font-size: 17; 
	-fx-font-family: 'Courier New'; 
	-fx-underline: false;
}

