.root{  
    -fx-background: #4682b4; 
}  

.button {
    -fx-font-weight: bold; 
	-fx-text-fill: blue; 
	-fx-font-size: 13px; /* 18 pixels font size */
	-fx-font-family: 'Courier New'; 
	-fx-padding: 6px; /* 10 pixels padding */
	-fx-border-radius: 5px; 
	-fx-border-color: white; /* Light blue border color */
    -fx-border-width:1px; /* 2 pixels border width */
}

.button:hover {
    -fx-background-color: #2980b9; /* Light blue color */
    -fx-text-fill: black; /* Black text color */
    -fx-border-color: #3498db; /* Blue border color */
}
.button:active {
    -fx-background-color: #2980b9; /* Light blue color */
    -fx-text-fill: black; /* Black text color */
    -fx-border-color: #3498db; /* Blue border color */
}

.button:pressed {
    -fx-background-color: navy; /* Light blue color */
    -fx-text-fill: darkgrey; /* Black text color */
    -fx-border-color: #3498db; /* Blue border color */
}

#exitButton {
	-fx-font-weight: bold; 
	-fx-text-fill: red; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton:hover {
	-fx-font-weight: bold; 
	-fx-text-fill: Orange; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5; 
	-fx-background-color: red; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton:active {
	-fx-font-weight: bold; 
	-fx-text-fill: yellow; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5;
	-fx-background-color: red; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton:pressed {
    -fx-font-weight: bold; 
	-fx-text-fill: yellow; 
	-fx-font-family: 'Courier New'; 
	-fx-border-radius: 5;
	-fx-background-color: darkred; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
	-fx-text-fill: white; 
	-fx-font-weight: bold; 
	-fx-font-size: 17; 
	-fx-font-family: 'Courier New'; 
	-fx-underline: false;
}
.chart-content {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.chart-legend {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-color: gray;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 10px;
}

.chart-plot-background {
    -fx-background-color: white;
}

.chart-plot-content {
    -fx-background-color: white;
}

.chart-grid-lines {
    -fx-stroke: lightgray;
}

.chart-label {
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.chart-series-line {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.chart-series-symbol {
    -fx-fill: black;
    -fx-size: 6px;
}

