.root{  
    -fx-background: #2980b9;
}  

.button {
	-fx-alignment: center;     
	-fx-text-fill: blue; 
	-fx-font-family: 'Lucida Sans Unicode'; 
	-fx-font-size: 13px; /* 18 pixels font size */
	-fx-font-weight: bold;
	-fx-padding: 6px; /* 10 pixels padding */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );   
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #f5f5f5; /* whitesmoke  */
}

.button:hover {
    -fx-background-color: #2980b9; /* Light blue color */
    -fx-text-fill: black; /* Black text color */
}
.button:active {
    -fx-background-color: #2980b9; /* Light blue color */
    -fx-text-fill: black; /* Black text color */
}

.button:pressed {
    -fx-background-color: navy; /* Light blue color */
    -fx-text-fill: darkgrey; /* Black text color */
}

#exitButton {
	-fx-alignment: center;	
	-fx-text-fill: red; 
	-fx-font-family: 'Lucida Sans Unicode';
	-fx-font-weight: bold;  
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-background-radius: 10 10 10 10;
}

#exitButton:hover {
	-fx-text-fill: Orange; 
	-fx-background-color: red; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton:active {
	-fx-text-fill: yellow; 
	-fx-background-color: red; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#exitButton:pressed {
	-fx-text-fill: yellow; 
	-fx-background-color: darkred; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {	
	-fx-text-fill: white; 
	-fx-text-alignment: center;
	-fx-font-family: 'Lucida Sans Unicode'; 
	-fx-font-size: 17; 
	-fx-font-weight: bold;
	-fx-underline: false;
	-fx-wrap-text: true;	
	-fx-padding: 5px 5px 50px 5px; /* sets top, right, bottom, left padding */
}

.label:hover {
    -fx-text-fill: #ffff00; /* yellow */
}

.label:pressed {
	-fx-text-fill: #ffd700; /* gold */
}


#infoLabel {	
	-fx-text-fill: white; 
	-fx-text-alignment: left;
	-fx-font-family: 'Lucida Sans Unicode'; 
	-fx-font-size: 12; 
	-fx-font-weight: bold;
	-fx-underline: false;
	-fx-wrap-text: true;	
	-fx-padding: 5px 5px 50px 5px; /* sets top, right, bottom, left padding */
}

#infoLabel:hover {
    -fx-text-fill: #ffff00; /* yellow */
}

#infoLabel:pressed {
	-fx-text-fill: #ffd700; /* gold */
}

#borderPane {
    -fx-background-color:  #4682b4; /* steelblue */
    -fx-padding: 5px 10px 5px 10px; /* sets top, right, bottom, left padding */
}

#vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 10px 10px 130px 10px; /* sets top, right, bottom, left padding */
    -fx-background-insets: 10px 10px 130px 10px; /* sets top, right, bottom, left background insets */ 
}

